 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/tomb-8622728_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1592px;
}

.u-section-1 .u-text-1 {
  width: 840px;
  font-size: 4.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 840px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-text-1 {
    width: 582px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 40.53% 23.23%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1697px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 64.53% 95.25%;
    background-size: auto 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 2448px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}